@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
*::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(236deg, 33%, 92%);
  background-image: url("./images/bg-desktop-light.jpg");
  background-size: 100% 300px;
  background-repeat: no-repeat;
}
body.dark {
  background-color: hsl(235deg, 21%, 11%);
  background-image: url("./images/bg-desktop-dark.jpg");
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

input[type=radio] {
  left: -999em;
  position: absolute;
}

.container {
  margin: auto;
  width: 600px;
  height: 800px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
  color: hsl(236deg, 9%, 61%);
  position: relative;
}
.container header {
  position: relative;
  width: 100%;
}
.container header h1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 20px;
  margin: 80px 0 70px 0;
  text-align: start;
  color: hsl(236deg, 33%, 92%);
}
.container header #theme {
  position: absolute;
  right: 0;
  top: 80px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.container .addContainer {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: hsl(0deg, 0%, 98%);
  border-radius: 10px;
  font-weight: 400;
  color: hsl(235deg, 19%, 35%);
  cursor: pointer;
}
.container .addContainer .checked {
  margin-left: 20px;
  cursor: default;
}
.container .addContainer .checked:hover {
  background: none;
}
.container .addContainer input {
  width: 85%;
  font-size: 20px;
  background-color: inherit;
  border: none;
  outline: none;
  color: hsl(235deg, 19%, 35%);
}
.container .addContainer input:focus {
  border-bottom: 1px solid hsl(236deg, 9%, 61%);
}
.container .listContainer {
  width: 100%;
  height: 400px;
  overflow: auto;
  color: hsl(235deg, 19%, 35%);
  background-color: hsl(0deg, 0%, 98%);
  border-radius: 10px 10px 0 0;
  font-weight: 400;
  margin-bottom: 30px;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}
.container .listContainer .listItem {
  padding: 0 20px;
  min-height: 60px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid hsl(233deg, 11%, 84%);
  position: relative;
  cursor: pointer;
}
.container .listContainer .listItem .leftList {
  width: 95%;
  display: flex;
  align-items: center;
}
.container .listContainer .listItem .complete + p {
  color: hsl(236deg, 9%, 61%);
  text-decoration: line-through;
}
.container .listContainer .listItem p {
  width: 95%;
  overflow-wrap: break-word;
  padding: 10px 0;
}
.container .listContainer .listItem button {
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: hsl(236deg, 9%, 61%);
  display: none;
}
.container .listContainer .listItem button:hover {
  cursor: pointer;
  color: hsl(235deg, 19%, 35%);
}
.container .listContainer .listItem:hover button {
  display: block;
}
.container footer {
  padding: 0 20px;
  width: 93.5%;
  height: 60px;
  position: absolute;
  left: 0;
  bottom: 75px;
  border-radius: 0 0 10px 10px;
  background-color: hsl(0deg, 0%, 98%);
  border-top: 1px solid hsl(236deg, 9%, 61%);
  flex-direction: "";
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(236deg, 9%, 61%);
}
.container footer .leftFoot {
  position: absolute;
  left: 20px;
}
.container footer .rightFoot {
  position: absolute;
  right: 20px;
}
.container footer .rightFoot:hover {
  cursor: pointer;
  color: hsl(235deg, 19%, 35%);
}
.container .midFoot {
  position: absolute;
  bottom: 95px;
  z-index: 1000;
}
.container .midFoot label {
  margin: 0 5px;
  font-weight: 700;
  cursor: pointer;
  color: hsl(233deg, 11%, 84%);
}
.container .midFoot label:hover {
  color: hsl(235deg, 19%, 35%);
}
.container .midFoot input[type=radio]:checked + label {
  color: hsl(220deg, 98%, 61%);
}
.container .checked {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid hsl(233deg, 11%, 84%);
  margin-right: 10px;
  background: transparent;
  flex-direction: "";
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container .checked img {
  display: none;
}
.container .checked:hover {
  background: linear-gradient(hsl(192deg, 100%, 67%), hsl(280deg, 87%, 65%));
}
.container .checked:hover .innerCheck {
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: hsl(0deg, 0%, 98%);
}
.container .checked.complete {
  background: linear-gradient(hsl(192deg, 100%, 67%), hsl(280deg, 87%, 65%));
}
.container .checked.complete img {
  display: block;
}
.container .checked.complete .innerCheck {
  display: none;
}

.dark .container {
  color: hsl(234deg, 11%, 52%);
}
.dark .container .addContainer {
  background-color: hsl(235deg, 24%, 19%);
}
.dark .container .addContainer .checked:hover {
  border-color: inherit;
}
.dark .container .addContainer input {
  color: hsl(236deg, 33%, 92%);
}
.dark .container .listContainer {
  background-color: hsl(235deg, 24%, 19%);
}
.dark .container .listContainer .listItem {
  color: hsl(236deg, 33%, 92%);
  border-color: hsl(233deg, 14%, 35%);
}
.dark .container .listContainer .listItem .delBtn:hover {
  color: hsl(236deg, 33%, 92%);
}
.dark .container .checked {
  border-color: hsl(233deg, 14%, 35%);
}
.dark .container .checked:hover {
  border-color: hsl(234deg, 11%, 52%);
}
.dark .container .checked:hover .innerCheck {
  background-color: hsl(235deg, 24%, 19%);
}
.dark .container footer {
  background-color: hsl(235deg, 24%, 19%);
  color: hsl(234deg, 11%, 52%);
}
.dark .container footer .leftFoot:hover {
  color: hsl(236deg, 33%, 92%);
}
.dark .container footer .rightFoot:hover {
  color: hsl(236deg, 33%, 92%);
}
.dark .container .midFoot label:hover {
  color: hsl(236deg, 33%, 92%);
}

.noti {
  position: relative;
  bottom: -70px;
}

.attribution {
  margin-top: 20px;
  color: hsl(236deg, 9%, 61%);
}
.attribution a {
  background-color: aliceblue;
}

.dark .attribution {
  color: hsl(234deg, 11%, 52%);
}
.dark .attribution a {
  color: hsl(234deg, 39%, 85%);
  background-color: blueviolet;
}

@media (max-width: 375px) {
  body {
    font-size: 15px;
    height: 100vh;
    background-size: 100% 30%;
  }
  .container {
    margin: 0 auto;
    width: 335px;
    height: 600px;
  }
  .container header h1 {
    margin: 20px 0 30px 0;
  }
  .container header #theme {
    top: 20px;
  }
  .container .addContainer {
    height: 30px;
    padding: 10px 0;
  }
  .container .addContainer input {
    width: 80%;
    font-size: 15px;
  }
  .container .listContainer {
    height: 300px;
  }
  .container .listContainer .listItem {
    padding: 10px 20px;
    min-height: 30px;
  }
  .container .listContainer .listItem p {
    width: 85%;
  }
  .container footer {
    width: 88%;
    bottom: 100px;
    height: 50px;
  }
  .container .midFoot {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    flex-direction: "";
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 25px;
    background-color: hsl(0deg, 0%, 98%);
  }
  .container .midFoot label {
    margin: 0 10px;
  }
  .container .noti {
    position: relative;
    bottom: -120px;
  }
  .dark .container footer {
    background-color: hsl(235deg, 24%, 19%);
  }
  .dark .container .midFoot {
    background-color: hsl(235deg, 24%, 19%);
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  }
  .attribution {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
