@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
:root {
    --blue: hsl(246, 80%, 60%);
    --very_dark_blue:hsl(226, 43%, 10%);
    --dark_blue:hsl(235, 46%, 20%);
    --desaturated_blue: hsl(235, 45%, 61%);
    --pale_blue:hsl(236, 100%, 87%);
    --work: hsl(15, 100%, 70%);
    --play: hsl(195, 74%, 62%);
    --study: hsl(348, 100%, 68%);
    --exercise: hsl(145, 58%, 55%);
    --social: hsl(264, 64%, 52%);
    --self_care: hsl(43, 84%, 65%);
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    border-radius: 20px;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    background-color: var(--very_dark_blue);
}

ul {
    list-style: none;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 1100px;
    height: 600px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

/* --------------- left section ------------- */
.profileContainer {
    width: 250px;
    height: 520px;
    margin-right: 25px;
    background-color: var(--dark_blue);
}
.profile {
    width: 250px;
    height: 70%;
    font-size: 14px;
    color: var(--pale_blue);
    background-color: var(--blue);
    padding: 30px;
}
.profilePhoto {
    width: 80px;
    height: 80px;
    border: 3px solid white;
    border-radius: 50%;
    margin-bottom: 50px;
}
.profilePhoto img{
    width: 100%;
    height: 100%;
}
.name {
    font-size: 36px;
    font-weight: 100;
    color: white;
}
.menu {
    height: 30%;
    padding: 30px;
}
.menu li {
    height: 40px;
    color: var(--desaturated_blue);
}
.menu li:hover,
.menu li:active {
    color: white;
    cursor: pointer;
}


/* --------------- right section ------------- */

.dashboards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}
.dashboard {
    width: 250px;
    height: 250px;
    position: relative;
    background-repeat: no-repeat;
    background-position: right 10% top -5%;
}
.dashboard:nth-child(1),
.dashboard:nth-child(2),
.dashboard:nth-child(3) {
    margin-bottom: 25px;
}

.dashboard:hover .contents {
    background-color: var(--desaturated_blue);
    cursor: pointer;
}
.workContainer {
    background-color: var(--work);
    background-image: url(images/icon-work.svg);

}
.playContainer {
    background-color: var(--play);
    background-image: url(images/icon-play.svg);

}
.studyContainer {
    background-color: var(--study);
    background-image: url(images/icon-study.svg);

}
.exerciseContainer {
    background-color: var(--exercise);
    background-image: url(images/icon-exercise.svg);

}
.socialContainer {
    background-color: var(--social);
    background-image: url(images/icon-social.svg);

}
.selfCareContainer {
    background-color: var(--self_care);
    background-image: url(images/icon-self-care.svg);
}
.contents {
    background-color: var(--dark_blue);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 83%;
    padding: 20px;
}
.title {
    position: relative;
    margin-bottom: 25px;
}
.title p {
    display: inline-block;
    
}
.title img {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 40%;
}
.title img:hover{
    filter: brightness(1.2);
    cursor: pointer;
}
.time {
    font-size: 60px;
    font-weight: 100;
    margin-bottom: 10px;
}
.tracker {
    font-size: 16px;
    color: var(--pale_blue);
}

/* --------------- attribution --------------- */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


/* --------------- mobile -------------- */

@media screen and (max-width: 375px) {
    .container {
        flex-direction: column;
        width: 90%;
        height: auto;
        left: 0;
        top: 0;
        transform: translate(6%, 3%);
    }
    .profileContainer {
        width: 100%;
        margin: 0 0 25px 0;
        height: 200px;
    }
    .profile {
        width: 100%;
    }
    .profilePhoto {
        display: inline-block;
        margin-right: 10px;
    }
    .profileName {
        display: inline-block;
        position: relative;
        top: -15px;
    }
    .profileName .name {
        margin-top: 5px;
        font-size: 24px;
    }
    .menu {
        border-radius: 0;
        padding: 0;
    }
    .menu ul {
        display: flex;
        align-items: center;
        height: 100%;
    }
    .menu li {
        display: inline-block;
        width: 32%;
        height: auto;
        text-align: center;
    }
    .dashboards {
        width: 100%;
        display: inline;
    }
    .dashboard {
        width: 100%;
        height: 170px;
        margin-bottom: 25px;
    }
    .title {
        margin: 10px;
    }
    .clock {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .time {
        font-size: 36px;
        margin: 0;
    }

}
